<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar asesor</title>
    <meta charset="ISO-8859-1" />
</head>
<body>

 <div align="center">
 	<h1>Editar asesor</h1>  
 	<br/>
 	<form action="#" th:action="@{/guardar}" th:object="${persona}" method="post">
 		 <table border="0" cellpadding="10">
 		 <tr>
 		 	<td>Id Asesor:</td>
 		 	<td><input type="text" th:field="*{idPersona}" readonly="readonly" /></td>
 		  </tr>	
 		 <tr>
 		 	<td>Nombre:</td>
 		 	<td><input type="text" th:field="*{nombre}" /></td>
 		  </tr>	
 		  <tr>
 		    <td>DNI:</td>
 		 	<td><input type="text" th:field="*{dni}" /></td>
 		 </tr>
 		 <tr>
 		 	<td>Correo:</td>
 		 	<td><input type="text" th:field="*{correo}" /></td>
 		 </tr>
 		 <tr> 
 		 	<td colspan="2"><button type="submit">Guardar</button></td>
 		 </tr>	
 		</table>
 	</form>
 </div>    
</body>
</html>