<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Asesores</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

 <div aling="center">
 	<h1>Registro de Asesores</h1>  
 	<a href="nuevo"> Crear nuevo asesor</a> 
 	<br/><br/>
    <table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Correo</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr	th:each="persona : ${listPersonas}">
				<td th:text="${persona.nombre}">Nombre</td>
				<td th:text="${persona.dni}">DNI</td>
				<td th:text="${persona.correo}">Correo</td>
				<td>
				  
				</td>
			</tr>
		</tbody>	
    </table>
 </div>    
</body>
</html>